jaconv==0.5.0
pykakasi==2.3.0
requests==2.33.1
syncedlyrics==1.0.1
winrt-runtime==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Media==3.2.1
winrt-Windows.Media.Control==3.2.1
winrt-Windows.Storage.Streams==3.2.1
fugashi==1.5.2
unidic-lite==1.0.8
